<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BaseMapper">

    <!-- 获取最新插入的ID -->
    <select id="getLaseInsertId" resultType="Long">
        select last_insert_id()
    </select>

</mapper>