<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DangerMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="PageData">
		insert into danger(
			academicTitle,
			age,
			education,
			contructionStageName,
			sex,
			isleader,
			name,
			upload_time,
			level,
			line,
			portion,
			site,
			item,
			collection,
			hiddend_type,
			classificationName,
			deptype,
			xcState,
			project,
			area,
			id
        ) values (
			#{academicTitle},
			#{age},
			#{education},
			#{contructionStageName},
			#{sex},
			#{isleader},
			#{name},
			#{upload_time},
			#{level},
			#{line},
			#{portion},
			#{site},
			#{item},
			#{collection},
			#{hiddend_type},
			#{classificationName},
			#{deptype},
			#{xcState},
			#{project},
			#{area},
			#{id}
        )
    </insert>


    <!-- 删除-->
    <delete id="delete" parameterType="PageData">
        delete from danger
        where
		id= #{id}
    </delete>


    <!-- 修改 -->
    <update id="edit" parameterType="PageData">
        update  danger
        set
				academicTitle = #{academicTitle},
				age = #{age},
				education = #{education},
				contructionStageName = #{contructionStageName},
				sex = #{sex},
				isleader = #{isleader},
				name = #{name},
				upload_time = #{upload_time},
				level = #{level},
				line = #{line},
				portion = #{portion},
				site = #{site},
				item = #{item},
				collection = #{collection},
				hiddend_type = #{hiddend_type},
				classificationName = #{classificationName},
				deptype = #{deptype},
				xcState = #{xcState},
				project = #{project},
				area = #{area},
				id= id
        where
		id= #{id}
    </update>


    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="PageData" resultType="PageData">
        select
			a.academicTitle,
			a.age,
			a.education,
			a.contructionStageName,
			a.sex,
			a.isleader,
			a.name,
			a.upload_time,
			a.level,
			a.line,
			a.portion,
			a.site,
			a.item,
			a.collection,
			a.hiddend_type,
			a.classificationName,
			a.deptype,
			a.xcState,
			a.project,
			a.area,
			a.id
        from
        	danger a
        where
			a.id= #{id}
    </select>


    <!-- 列表 -->
    <select id="datalistPage" parameterType="page" resultType="PageData">
        select
			a.academicTitle,
			a.age,
			a.education,
			a.contructionStageName,
			a.sex,
			a.isleader,
			a.name,
			a.upload_time,
			a.level,
			a.line,
			a.portion,
			a.site,
			a.item,
			a.collection,
			a.hiddend_type,
			a.classificationName,
			a.deptype,
			a.xcState,
			a.project,
			a.area,
			a.id
        from
        	danger a
    </select>

    <!-- 列表(全部) -->
    <select id="listAll" parameterType="PageData" resultType="PageData">
        select
			a.academicTitle,
			a.age,
			a.education,
			a.contructionStageName,
			a.sex,
			a.isleader,
			a.name,
			a.upload_time,
			a.level,
			a.line,
			a.portion,
			a.site,
			a.item,
			a.collection,
			a.hiddend_type,
			a.classificationName,
			a.deptype,
			a.xcState,
			a.project,
			a.area,
			a.id
        from
        	danger a
    </select>

	<select id="listAllContructionStageName" parameterType="PageData" resultType="PageData">
		SELECT
			d.contructionStageName
		FROM
			danger d
		GROUP BY
			d.contructionStageName
	</select>

	<select id="findLastUploadTime" parameterType="PageData" resultType="PageData">
		SELECT
			MAX(d.upload_time) startTime
		FROM
			danger d
		WHERE
			d.project = #{project}
	</select>

	<select id="unitTypeCount" parameterType="PageData" resultType="PageData">
		SELECT
		d.deptype,
		d.area,
		count(item) counts
		FROM
		danger d
		WHERE
		1=1
		<if test="area != null and area !=''">
			AND
			d.area=#{area}
		</if>
		<if test="project != null and project !=''">
			AND
			d.project=#{project}
		</if>
		<if test="startTime != null and startTime !=''">
			AND
			d.upload_time &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime !=''">
			AND
			d.upload_time &lt;= #{endTime}
		</if>
		<if test="xcState != null and xcState !=''">
			AND
			d.xcState=#{xcState}
		</if>
		<if test="contructionStageName != null and contructionStageName !=''">
			AND
			d.contructionStageName=#{contructionStageName}
		</if>
		GROUP BY
		d.deptype,
		d.area
	</select>
	<select id="getTypePie" parameterType="PageData" resultType="PageData">
		SELECT
					'其它' hiddend_type,
					count(id) counts
		FROM
					danger d
		WHERE d.hiddend_type not in(
			SELECT x.hiddend_type from(
				SELECT
							d.hiddend_type,
							count(id) counts
				FROM
							danger d
				WHERE 1=1
				<if test="area != null and area !=''">
					AND
					d.area=#{area}
				</if>
				<if test="project != null and project !=''">
					AND
					d.project=#{project}
				</if>
				<if test="startTime != null and startTime !=''">
					AND
					d.upload_time &gt;= #{startTime}
				</if>
				<if test="endTime != null and endTime !=''">
					AND
					d.upload_time &lt;= #{endTime}
				</if>
				<if test="xcState != null and xcState !=''">
					AND
					d.xcState=#{xcState}
				</if>
				<if test="contructionStageName != null and contructionStageName !=''">
					AND
					d.contructionStageName=#{contructionStageName}
		</if>
				GROUP BY
							d.hiddend_type
				ORDER BY counts desc
				LIMIT 5) x
		)
		<if test="area != null and area !=''">
			AND
			d.area=#{area}
		</if>
		<if test="project != null and project !=''">
			AND
			d.project=#{project}
		</if>
		<if test="startTime != null and startTime !=''">
			AND
			d.upload_time &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime !=''">
			AND
			d.upload_time &lt;= #{endTime}
		</if>
		<if test="xcState != null and xcState !=''">
			AND
			d.xcState=#{xcState}
		</if>
		<if test="contructionStageName != null and contructionStageName !=''">
			AND
			d.contructionStageName=#{contructionStageName}
		</if>

		UNION
		SELECT
					d.hiddend_type,
					count(id) counts
		FROM
					danger d
		WHERE 1=1
		<if test="area != null and area !=''">
			AND
			d.area=#{area}
		</if>
		<if test="project != null and project !=''">
			AND
			d.project=#{project}
		</if>
		<if test="startTime != null and startTime !=''">
			AND
			d.upload_time &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime !=''">
			AND
			d.upload_time &lt;= #{endTime}
		</if>
		<if test="xcState != null and xcState !=''">
			AND
			d.xcState=#{xcState}
		</if>
		<if test="contructionStageName != null and contructionStageName !=''">
			AND
			d.contructionStageName=#{contructionStageName}
		</if>
		GROUP BY
					d.hiddend_type
		ORDER BY counts desc
		LIMIT 5
	</select>
	<select id="gradePartition" parameterType="PageData" resultType="PageData">
		SELECT
			d.area,
			d.`level`,
			count(id) counts
		FROM
			danger d
		WHERE
		1=1
		<if test="area != null and area !=''">
			AND
			d.area=#{area}
		</if>
		<if test="project != null and project !=''">
			AND
			d.project=#{project}
		</if>
		<if test="startTime != null and startTime !=''">
			AND
			d.upload_time &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime !=''">
			AND
			d.upload_time &lt;= #{endTime}
		</if>
		<if test="xcState != null and xcState !=''">
			AND
			d.xcState=#{xcState}
		</if>
		<if test="contructionStageName != null and contructionStageName !=''">
			AND
			d.contructionStageName=#{contructionStageName}
		</if>
		GROUP BY
			d.area,
			d.`level`
		ORDER BY counts DESC
	</select>

	<select id="gradePartitionAreaCount" parameterType="PageData" resultType="PageData">
		SELECT
		d.area,
		count(id) counts
		FROM
		danger d
		WHERE
		1=1
		<if test="area != null and area !=''">
			AND
			d.area=#{area}
		</if>
		<if test="project != null and project !=''">
			AND
			d.project=#{project}
		</if>
		<if test="startTime != null and startTime !=''">
			AND
			d.upload_time &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime !=''">
			AND
			d.upload_time &lt;= #{endTime}
		</if>
		<if test="xcState != null and xcState !=''">
			AND
			d.xcState=#{xcState}
		</if>
		<if test="contructionStageName != null and contructionStageName !=''">
			AND
			d.contructionStageName=#{contructionStageName}
		</if>
		GROUP BY
		d.area
		ORDER BY counts DESC
	</select>
	<select id="recordgetCountTime" parameterType="PageData" resultType="PageData">
		SELECT
			date_format(d.upload_time,'%Y-%m-%d') uploadTime,
			count(id) counts
		FROM
			danger d
		WHERE
		1=1
		<if test="area != null and area !=''">
			AND
			d.area=#{area}
		</if>
		<if test="project != null and project !=''">
			AND
			d.project=#{project}
		</if>
		<if test="startTime != null and startTime !=''">
			AND
			d.upload_time &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime !=''">
			AND
			d.upload_time &lt;= #{endTime}
		</if>
		<if test="xcState != null and xcState !=''">
			AND
			d.xcState=#{xcState}
		</if>
		<if test="contructionStageName != null and contructionStageName !=''">
			AND
			d.contructionStageName=#{contructionStageName}
		</if>
		GROUP BY
			date_format(d.upload_time,'%Y-%m-%d')
	</select>

    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
        delete from danger
        where
			a.id
		in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
		#{item}
        </foreach>
    </delete>

</mapper>