<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DemoMapper">
	
	
	<!-- 新增 -->
	<insert id="save" parameterType="PageData">
		insert into DEMO_DEMO(
			demoText1,
			demoText2,
			demoNumber1,
			demoNumber2,
			demoBoolean1,
			demoBoolean2,
			demoTime1,
			demoTime2,
			demoId
        ) values (
			#{demoText1},
			#{demoText2},
			#{demoNumber1},
			#{demoNumber2},
			#{demoBoolean1},
			#{demoBoolean2},
			#{demoTime1},
			#{demoTime2},
			#{demoId}
        )
    </insert>


    <!-- 删除 -->
    <delete id="delete" parameterType="PageData">
        delete from DEMO_DEMO
        where
			demoId= #{demoId}
    </delete>


    <!-- 修改 -->
    <update id="edit" parameterType="PageData">
        update  DEMO_DEMO
        set
			demoText1 = #{demoText1},
			demoText2 = #{demoText2},
			demoNumber1 = #{demoNumber1},
			demoNumber2 = #{demoNumber2},
			demoBoolean1 = #{demoBoolean1},
			demoBoolean2 = #{demoBoolean2},
			demoTime1 = #{demoTime1},
			demoTime2 = #{demoTime2},
			demoId= demoId
        where
			demoId= #{demoId}
    </update>


    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="PageData" resultType="PageData">
        select
			a.demoText1,
			a.demoText2,
			a.demoNumber1,
			a.demoNumber2,
			a.demoBoolean1,
			a.demoBoolean2,
			a.demoTime1,
			a.demoTime2,
			a.demoId
        from
        	DEMO_DEMO a
        where
			a.demoId= #{demoId}
    </select>


    <!-- 查询 -->
    <select id="datalistPage" parameterType="page" resultType="PageData">
        select
			a.demoText1,
			a.demoText2,
			a.demoNumber1,
			a.demoNumber2,
			a.demoBoolean1,
			a.demoBoolean2,
			a.demoTime1,
			a.demoTime2,
			a.demoId
        from
        	DEMO_DEMO a
    </select>

    <!-- 查询(全部) -->
    <select id="listAll" parameterType="PageData" resultType="PageData">
        select
			a.demoText1,
			a.demoText2,
			a.demoNumber1,
			a.demoNumber2,
			a.demoBoolean1,
			a.demoBoolean2,
			a.demoTime1,
			a.demoTime2,
			a.demoId
        from
        	DEMO_DEMO a
    </select>

    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
        delete from DEMO_DEMO
        where
			a.demoId
		in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
		#{item}
        </foreach>
    </delete>

</mapper>