<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<sql id="userColumns">USER_ID,USERNAME,PASSWORD,NAME,COMPANY_ID,ISADMIN,SORTNUM,LAST_LOGIN,STATE</sql>
	<!-- 将vo实体类转换为映射文件 ，因为在mybatis-config的配置文件中已经用了别名，因此这里可以这样写：type="User"-->
	
	<resultMap type="cn.zhangjingyao.entity.system.User" id="userResultMap">
		<id column="userId" property="userId"/>
		<result column="account" property="account"/>
		<result column="password" property="password"/>
		<result column="userName" property="userName"/>
	</resultMap>

	<select id="loginUser" parameterType="PageData" resultMap="userResultMap" useCache="false">
		SELECT *
		FROM user
		WHERE 1=1
		AND account = #{account,jdbcType=VARCHAR}
		AND password = #{password,jdbcType=VARCHAR}
	</select>
	
	<insert id="save" parameterType="PageData">
		INSERT INTO user
		(
			account,
			password,
			userName
		)
		VALUE(
			#{account},
			#{password},
			#{userName}
		)
	</insert>
</mapper>