<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <div>
        <form action="/login" method="post">
            <table>
                <tr>
                    <td>account：</td>
                    <td><input id="account" name="account" type="text"></td>
                </tr>
                <tr>
                    <td>password：</td>
                    <td><input id="password" name="password" type="password"></td>
                </tr>
            </table>
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>